<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PaginaInicial</title>
</head>
<body>
    <p>Seja Bem-Vindo A Página Inicial. Este Site Foi Desenvolvido Para As Pessoas Que Desejam Aprender O Python, Uma Linguagem De Programação Não Tão Fácil Mas Também Não Tão Difíci.</p>
    <p>Clique Em : <a href="https://www.python.org/">Python</a> Para Acessar O Site Oficial Do Python Onde Te Ajudará A Saber Mais E Tabém Você Vai Aprender.</p>
    <p>Também Estamos Disponibilizando Este Outro Site Para Você Aprender Mais Com O Lira. O Lira É Um Youtuber Que Ajuda A Gente Fazer Pragramações Não Só De Python Mas Também Outras Linguagens De Programação Segue Este Link : <a href="https://www.hashtagtreinamentos.com/curso-python">hashtagtreinamentos</a></a>.</p>
    <p>A Última Coisa Que Eu Vou Falar É Que : Entra No Meu Outro Site Para Fazer Login <a href="http://127.0.0.1:5000/Login">Fazer Login.</a></p>
</body>
</html>